/* Import the Google Font 'Lato' */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@background: #F1F2F1;

@red-500: #f44336;
@yellow-500: #ffeb3b;
@amber-500: #ffc107;
@deepOrange-500: #FF5722;
@lightBlue-500: #03a9f4;
@lightBlue-900: #01579b;
@indigo-500: #3f51b5;
@blue-500: #2196f3;
@grey-50: #FAFAFA;
@grey-200: #eeeeee;
@grey-500: #9E9E9E;
@grey-300: #E0E0E0;
@blanco: #FFFFFF;

@barra-size: 25px;

.container{
    margin-top: 50px;
}

.align .center{
    text-align: center;
}


/* Container styles */
body {
  background-color: @background;
  color: #333;
  font-family: 'Lato';
    
}

.portafolio{
    padding: 10px;
    background: @blanco;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
}

.portafolio .foto{
    border-radius: 50%;
}

.portafolio h5{
    margin-top: -15px;
    color: @grey-500;
}

.linea{
    margin-top: 15px;  margin-bottom: 15px;
    border-radius: 2px;
    height: 5px; background: @grey-300;
    
}

.portafolio .about-me h3{
    margin:7px;
}

.portafolio .about-me h3 i{
    margin-right:5px;
}

.about-me ul li{
    display: inline-block;
    margin-right:5px;
}






















/* Chechear HTML para definir valores */
@Percent-WebDesign: 80%;
@Percent-HTML5: 70%;
@Percent-CSS3: 75%;
@Percent-JS: 20%;
@Percent-JQuery: 45%;
@Percent-TypeScript: 65%;
@Percent-Angular2: 73%;
@Percent-Java: 80%;


.barra {
    width: 90%; height: @barra-size;
    position: relative;
    background: @grey-200;
    margin: 10px auto; border-radius: 5px;
}


#s-WebDesign{
    width: @Percent-WebDesign; height: @barra-size;
    position: absolute;
    background-color: @indigo-500;
    animation: Animate-WebDesign 4s;
    -webkit-animation: Animate-WebDesign 4s;
    -moz-animation: Animate-WebDesign 4s;
    -o-animation: Animate-WebDesign 4s;
}

@keyframes Animate-WebDesign {
    from { width: 10px; }to { width: @Percent-WebDesign; }
}

@-webkit-keyframes Animate-WebDesign {
    from { width: 10px; }to { width: @Percent-WebDesign;}
}

@-moz-keyframes Animate-WebDesign {
    from { width: 10px; }to { width: @Percent-WebDesign;}
}

@-o-keyframes Animate-WebDesign {
    from { width: 10px; }to { width: @Percent-WebDesign;}
}

/*************************************************************************/
#s-HTML {
    width: @Percent-HTML5; height: @barra-size;
    position: absolute;
    background-color: @deepOrange-500;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
}

@keyframes Animate-HTML {
    from { width: 10px; }to { width: @Percent-HTML5; }
}

@-webkit-keyframes Animate-HTML {
    from { width: 10px; }to { width: @Percent-HTML5;}
}

@-moz-keyframes Animate-HTML {
    from { width: 10px; }to { width: @Percent-HTML5;}
}

@-o-keyframes Animate-HTML {
    from { width: 10px; }to { width: @Percent-HTML5;}
}

/*************************************************************************/
#s-CSS {
    width: @Percent-CSS3; height: @barra-size;
    position: absolute;
    background-color: @lightBlue-500;
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
}

@keyframes Animate-CSS {
    from { width: 10px; }to { width: @Percent-CSS3;}
}
@-webkit-keyframes Animate-CSS {
    from { width: 10px; }to { width: @Percent-CSS3;}
}
@-moz-keyframes Animate-CSS {
    from { width: 10px; }to { width: @Percent-CSS3;}
}
@-o-keyframes Animate-CSS {
    from { width: 10px; }to { width: @Percent-CSS3;}
}

/*************************************************************************/
#s-JS{
    width: @Percent-JS; height: @barra-size;
    position: absolute;
    background-color: @yellow-500;
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
}

@keyframes Animate-JS {
    from { width: 10px; }to { width: @Percent-JS; }
}

@-webkit-keyframes Animate-JS {
    from { width: 10px; }to { width: @Percent-JS;}
}

@-moz-keyframes Animate-JS {
    from { width: 10px; }to { width: @Percent-JS;}
}

@-o-keyframes Animate-JS {
    from { width: 10px; }to { width: @Percent-JS;}
}


/*************************************************************************/
#s-jQuery {
    width: @Percent-JQuery;
    height: @barra-size;
    position: absolute;
    background-color: @lightBlue-900;
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
}

@keyframes Animate-jQuery {
    from { width: 10px; } to { width: @Percent-JQuery;}
}
@-webkit-keyframes Animate-jQuery {
    from { width: 10px; } to { width: @Percent-JQuery;}
}
@-moz-keyframes Animate-jQuery {
    from { width: 10px; } to { width: @Percent-JQuery;}
}
@-o-keyframes Animate-jQuery {
    from { width: 10px; } to { width: @Percent-JQuery;}
}

/*************************************************************************/
#s-TypeScript{
    width: @Percent-TypeScript; height: @barra-size;
    position: absolute;
    background-color: @blue-500;
    animation: Animate-TypeScript 4s;
    -webkit-animation: Animate-TypeScript 4s;
    -moz-animation: Animate-TypeScript 4s;
    -o-animation: Animate-TypeScript 4s;
}

@keyframes Animate-TypeScript {
    from { width: 10px; }to { width: @Percent-TypeScript; }
}

@-webkit-keyframes Animate-TypeScript {
    from { width: 10px; }to { width: @Percent-TypeScript;}
}

@-moz-keyframes Animate-TypeScript {
    from { width: 10px; }to { width: @Percent-TypeScript;}
}

@-o-keyframes Animate-TypeScript {
    from { width: 10px; }to { width: @Percent-TypeScript;}
}

/*************************************************************************/
#s-Angular2{
    width: @Percent-Angular2; height: @barra-size;
    position: absolute;
    background-color: @red-500;
    animation: Animate-Angular2 4s;
    -webkit-animation: Animate-Angular2 4s;
    -moz-animation: Animate-Angular2 4s;
    -o-animation: Animate-Angular2 4s;
}

@keyframes Animate-Angular2 {
    from { width: 10px; }to { width: @Percent-Angular2; }
}

@-webkit-keyframes Animate-Angular2 {
    from { width: 10px; }to { width: @Percent-Angular2;}
}

@-moz-keyframes Animate-Angular2 {
    from { width: 10px; }to { width: @Percent-Angular2;}
}

@-o-keyframes Animate-Angular2 {
    from { width: 10px; }to { width: @Percent-Angular2;}
}

/*************************************************************************/
#s-Java{
    width: @Percent-Angular2; height: @barra-size;
    position: absolute;
    background-color: @amber-500;
    animation: Animate-Java 4s;
    -webkit-animation: Animate-Java 4s;
    -moz-animation: Animate-Java 4s;
    -o-animation: Animate-Java 4s;
}

@keyframes Animate-Java {
    from { width: 10px; }to { width: @Percent-Java; }
}

@-webkit-keyframes Animate-Java {
    from { width: 10px; }to { width: @Percent-Java;}
}

@-moz-keyframes Animate-Java {
    from { width: 10px; }to { width: @Percent-Java;}
}

@-o-keyframes Animate-Java {
    from { width: 10px; }to { width: @Percent-Java;}
}

.code-txt {
    z-index: 1;
    float: left;
    //position: absolute;
    margin-top: 5px;
    margin-left: 7px;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 14px;
    }

#s-JS .code-txt {
    color: black;
    text-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.16);
}

.Percent-txt {
    z-index: 3;
    position: relative;
    padding-right: 5px;
    margin-top: 5px;
    float: right;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 12px;
}

.fadeIn {
    /* CSS needed for animation */ 
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    -o-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards; 
}
/* Animation Times - Time to fade in */
.fadeIn-3s {
     -webkit-animation-duration:3s;
     -moz-animation-duration:3s;
     -o-animation-duration:3s;
     animation-duration:3s;
}
/* Animation Delay - Time to be delayed  */
.fadeIn-Delay-3s {
     -webkit-animation-delay:3s;
     -moz-animation-delay:3s;
     -o-animation-delay:3s;
     animation-delay:3s;
}




@CG-x1: 320px; 


.work-list li{
    display: inline-block;
    margin-left: 5px; margin-right: 15px;
}

.cuadros div{
    display: inline-block;
}




.Cx1{
    top: 10;
    float: left;
    width: 45%; height: @CG-x1;
    background: @grey-500;
    border-radius: 10px; margin: 0px;
    margin-bottom: 15px;
}

.Cx1:hover,
.twoC:hover,.treeC:hover,
.Cx1-1:hover{
    background: @indigo-500;
}

.Cx2-2 div{
    display: block;
    position: relative;
    margin-top: 0px;
}

.twoC{
    width: @CG-x1; height: @CG-x1 - 120px + 5px;
    background: @grey-500;
    border-radius: 10px;
    margin: 15px;
}

.treeC{
    width: @CG-x1; height: @CG-x1 - 220px;;
    background: @grey-500;
    border-radius: 10px;
    margin: 15px;
    
    img{
        margin-top: 10px;
    }
}


.Cx1-1{
    width: 100%;
    height: @CG-x1*2-155px;
    border-radius: 10px;
    background: @grey-500;
    margin-bottom: 18px;
}

//wEB dEV
.t2x4{ margin-right: 20px; }
.t1x4,.t2x4,.t3x4,.t4x4{
    float: left;
    border-radius: 10px;
    background: @grey-500;
    margin-bottom: 10px;
}
.t1x4{
    width: 100%;
    height: 250px;
    background: @grey-500;
}
.t2x4,.t3x4{
    margin-top: 10px;
    width: 300px;
    height: 300px;
}
.t4x4{
    margin-top: 10px;
    width: 100%;
    height: 220px;
}
.t1x4:hover{ background: @deepOrange-500; }
.t2x4:hover{ background: @lightBlue-500; }
.t3x4:hover{ background: @yellow-500; }
.t4x4:hover{ background: @lightBlue-900; }

//Web APP
#web-mobil_app div{
    margin: 0px;
    display: inline-block; /*En un bloque*/
    position: relative; /*par correr a la izq del bloque*/
    margin-bottom: 18px;
}

#web-mobil_app .Cx1{
    width: 45%;
    height: 820px;
    margin-right: 15px;
}


#web-mobil_app .Cx1-1{
    width: 45%;
   height: 820px; 
}
#web-mobil_app .Cx1:hover{
    background: @blue-500;
}
#web-mobil_app .Cx1-1:hover{
    background: @red-500;
}

//Desktop APP
.t1{
    width: 100%; height: 820px;
    border-radius: 15px;
    background: @grey-500;
    margin-bottom: 21px; padding: 20px;
}
.pJava{
    border-radius: 5px;
}
#desktop-mobil_app .t1{
    text-align: center;
}
#desktop-mobil_app .t1:hover{
    background: @amber-500;
}


#ux_ui,
#web-dev,
#web-mobil_app,
#desktop-mobil_app{
    height: 846px;
}
.wd_text{
    margin: 0px; margin-left: -3px;
    padding: 5px; background: #3F51B5; color: #F5F5F5;
    border-radius: 5px;
    text-align: center;
    font-family: "Roboto Black", sans-serif;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}




//MODAL
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


a{
    cursor: pointer
}

//span[class$="px_close"]
//span[class^="close"]
/* The Close Button */


span[class^="close"]{
    color: #212121; background: #FFFF00;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
    padding-top: 7px; padding-bottom: 7px;
    padding-left: 20px; padding-right: 20px;
    border-radius: 50%;
    box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
    position: fixed; right: 10%;
}

span[class^="close"]:hover, span[class^="close"]:focus{
    background: #FF1744;
    color: #FAFAFA;
    text-decoration: none;
    cursor: pointer;
}
/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: transparent;
    color: white;
    font-family: "Roboto Medium", monospace;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    text-align: center;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #212121;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}












@media only screen and (max-width: 40em) {
    .responsive-percent {
        margin-right: -45px !important;
    }
    #ux_ui,#web-dev,#web-mobil_app,#desktop-mobil_app{
        height: 100%;
    }
    .Cx1,
    .Cx2-2 .twoC{margin: 0px; margin-bottom: 10px;
        width: 100%;
    }
    #web-mobil_app .Cx1, #web-mobil_app .Cx1-1{
        width: 100%;
    }
    
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
     .responsive-percent {
         margin-right: -45px !important;
     }
    #ux_ui,#web-dev,#web-mobil_app,#desktop-mobil_app{
        height: 100%;
    }
    .Cx1,
    .Cx2-2 .twoC{margin: 0px; margin-bottom: 10px;
        width: 100%;
    }
}